$dark-bg-color: #222; // Fondo oscuro
$light-bg-color: #cfcfcf; // Fondo claro
$dark-text-color: #cfcfcf; // Texto oscuro
$light-text-color: #222; // Texto claro
$light-color: #cfcfcf;
$dark-color: #222;
$primary-light-color: #ff004c;
$primary-dark-color: #5fe199;